<div class="card mt-5">

  <h1 class="font-bold text-3xl text-center mb-5"> ENTER YOUR EMAIL</h1>
  <form method="POST" action="/auth/forgetpassword">
      <input type="text" name="email" class="form-input" placeholder="Email" value="{{inputs.email}}"/>
       <div class="text-center">
            <button class="btn btn-primary">SEND EMAIL</button>
       </div>
  </form>

</div>