<div class="card mt-5">

  <h1 class="font-bold text-3xl text-center mb-5"> RESET PASSEWORD</h1>
  <form method="POST" action="/auth/resetpassword">
      <input type="password" name="password" class="form-input" placeholder="Password" value="{{inputs.password}}"/>
      <input type="password" name="password2" class="form-input" placeholder="Confirm Password" value="{{inputs.password2}}"/>
      <input type="hidden" name="resetToken" value="{{resetToken}}">
       <div class="text-center">
          <button class="btn btn-primary">RESET</button>
       </div>
  </form>
</div>