<div class="w-full p-4 md:flex md:items-center md:justify-between ">
    <span class="text-sm text-gray-500 sm:text-center">
        &copy; 2023 <a href="#"> E-commerce App</a> All Rights Reserverd 
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 ">
        <li> <a href="#" class="mr-6 hover:underline"> About</a></li>
        <li> <a href="#" class="mr-6 hover:underline"> Privacy Policy</a></li>
        <li> <a href="#" class="mr-6 hover:underline"> Licensing</a></li>
        <li> <a href="#" class="mr-6 hover:underline"> Contact</a></li>
    </ul>
</div>